body {
	direction: rtl;
	text-align: right;
	margin-bottom: 30px;
}

ul, li, a {
	margin: 0px;
	padding: 0px;
}

.container {
	position: relative;
	max-width: 600px;
	top: 0px;
	right: 0px;
}

nav {
	position: relative;
	top: 0px right :0px
	width: 100px;
	border: solid 2px red;
	padding: 20px;
	float: right;
	font: Tahoma 14px;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: block;
	margin-right: 10px;
	font: 14px Tahoma;
}

footer{
	position: fixed;
	bottom: 0px;
	right: 0px;
}

